::-webkit-scrollbar {
    width: 0px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 0px; /* Bordes redondeados */
}

@font-face {
    font-family: "ELEPHNT";   /*Can be any text*/
    src: local("ELEPHNT"),
      url("./assets/fonts/ELEPHNT.TTF") format("truetype");
}

@font-face {
    font-family: "OSWALD-LIGHT";   /*Can be any text*/
    src: local("OSWALD-LIGHT"),
      url("./assets/fonts/OSWALD-LIGHT.TTF") format("truetype");
}

body{
    color: #E5E5E5;
    margin:0;
    background-color: #171717;
    font-family: 'OSWALD-LIGHT';
}


/******************************************/
         /*BARRA DE NAVEGACION*/
/******************************************/
.nav {
    position: sticky;
    top: 0;
    background-color: rgba(33, 33, 33, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    z-index: 100;
}

.title_nav {
    display: flex;
    align-items: center;
}

.title_container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.logo_img {
    height: 50px; /* Ajusta el tamaño según tu imagen */
}

.title_h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'OSWALD';
}

.title_h2 {
    margin: 0;
    font-size: 18px;
}

.items_nav {
    display: flex;
    align-items: center;
}

.items_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-nav{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  transition: .5s;
}

.btn-nav:hover {
  background-color: transparent;
  color: #DBD22A;
  border-bottom: 2px solid #DBD22A;
  transition: .5s;
}

/******************************************/
                  /*INICIO*/
/******************************************/
.teste {
    width: 100%;
}

.teste {
    background-color:#171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Esto asegura que la altura del contenedor sea al menos el 100% del viewport */
  }
  
  .row-titles {
    text-align: center;
  }
  
  .logo-img {
    width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-bottom: 2rem;
}
  
  .title-text {
    font-size: 24px; /* Ajusta el tamaño del texto según tus necesidades */
  }
  
  .content-row {
    margin-top: 20px;
    text-align: center; /* Espacio entre las filas de contenido */
  }
  
  .guide {
    text-align: center; /* Ajusta el texto justificado */
  }
  .logo-img-down {
    margin-top: 2rem;
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    position: relative;
    animation: moveUpDown 1s ease infinite alternate; /* Define la animación */
  }
  
  @keyframes moveUpDown {
    0% {
      top: 0; /* Posición inicial */
    }
    100% {
      top: 20px; /* Posición hacia abajo */
    }
  }

/******************************************/
              /*DASHBOARD MAPA*/
/******************************************/

.titles_section_2{
  margin: 3% 0;
}

.title_section_2{
  margin: 0;
  font-size: 30px;
  font-family: 'OSWALD';
}

.sub_title_section_2{
  font-size: 20px;
  font-family: 'OSWALD';
  border-bottom: #DBD22A solid 2px;
  width: max-content;
}

/* Target */

.target_explication{
  background-color: #212121;
  padding: 15px;
  border-radius: 10px;
  width:90%

}

.target_explication h2{
  margin: 0;
  font-size: 25px;
  font-family: 'OSWALD';
  margin-bottom: 5px;
}

.target_explication p{
  margin: 0;
  font-size: 18px;
  font-family: 'OSWALD-LIGHT';
  margin-bottom: 10px;
}

.highlight{
  color: #DBD22A;
}

.paragraph_separator{
  margin: 50px 0px;
  font-size: 20px;
  text-align: center;
}

/* Panel de navegacion inferior*/

.nav_info_container{
  background-color: #171717;
}

.nav_info{
  background-color: #171717;
}

.nav_link_info{
  color: #E5E5E5;
  background-color: #171717;
  margin: 5px;
  width: 100%;
  text-align: center;
  border-style: none;
}

.nav_link_info:hover{
  color: #E5E5E5;
  background-color: #212121;

}

.nav-pills .nav-link.active{
  background-color: #373636;
}

.des_message_card{
  padding: 5%;
}

.des_message_card h1{
  font-size: 40px;
  font-family: 'OSWALD';
  color: #DBD22A;
}

.des_message_card p{
  font-size: 18px;
  text-align: justify;
}
  
.container_content{
  margin-top: 20px;
}

  /*********/

.footer-content {
  width: 100%;
  height: 20%;
  padding: 50px 0;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  --s: 350px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para la primera fila del contenedor */
.container_first_row {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 18px;
  
}

.right_contact_col{
  width: 20%;
  margin-left: 20px;
}

.left_contact_col{
  width: 30%;
  text-align: center;
  
  padding-right: 20px;
  border-right: #DBD22A solid 5px;
}

.footer_image{
  width: 30%; /* Modifica el ancho de la imagen según tus necesidades */
  height: auto;
}

.right_contact_col h1{
  font-family: oswald;
  font-size: 20px;
  margin-top: 20px;
}

.right_contact_col p{
  margin: 0px;

}

.icon-container {
  display: flex;
  justify-content: space-around; /* Ajusta el espacio entre los iconos */
  align-items: center; /* Centra verticalmente los iconos */
}

.icon-container img {
  width: 40px; 
  height: auto;
}

.bottom_contact_row{
  text-align: center;
  margin-top: 5%;
}