::-webkit-scrollbar {
    width: 0px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 0px; /* Bordes redondeados */
}

@font-face {
    font-family: "ELEPHNT";   /*Can be any text*/
    src: local("ELEPHNT"),
      url("./assets/fonts/ELEPHNT.TTF") format("truetype");
}

@font-face {
    font-family: "OSWALD-LIGHT";   /*Can be any text*/
    src: local("OSWALD-LIGHT"),
      url("./assets/fonts/OSWALD-LIGHT.TTF") format("truetype");
}

body{
    color: #E5E5E5;
    margin:0;
    background-color: #171717;
    font-family: 'OSWALD-LIGHT';
}


/******************************************/
         /*BARRA DE NAVEGACION*/
/******************************************/
.nav {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    z-index: 100;
}

.title_nav {
    display: flex;
    align-items: center;
}

.title_container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.logo_img {
    height: 50px; /* Ajusta el tamaño según tu imagen */
}

.title_h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'OSWALD';
}

.title_h2 {
    margin: 0;
    font-size: 18px;
}

.items_nav {
    display: flex;
    align-items: center;
}

.items_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link_nav {
    margin-right: 15px;
    text-decoration: none;
    color: #E5E5E5;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.link_nav:hover {
    border-bottom: 1px solid #DBD22A;
    transition: 0.5s;

}

/******************************************/
                  /*SWITCH*/
/******************************************/

.switch-custom {
  position: absolute;
    bottom: 100px;
    right: 10px;
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Añade una sombra luminosa */
    border-radius: 50px; /* Ajusta el radio del borde según tu preferencia */
    border: 5px solid rgba(255, 255, 255, 0.3); /* Añade un borde luminoso */
    animation: moveUpDownToggle 2s ease infinite alternate; /* Define la animación */
  }
  
  @keyframes moveUpDownToggle {
    0% {
      bottom: 100px; /* Posición inicial */
    }
    100% {
      bottom: 90px; /* Posición hacia abajo */
    }
  }

/******************************************/
                  /*INICIO*/
/******************************************/
.teste {
    width: 100%;
}



.teste {
    background-color:#171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Esto asegura que la altura del contenedor sea al menos el 100% del viewport */
  }
  
  .row-titles {
    text-align: center;
  }
  
  .logo-img {
    width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-bottom: 2rem;
}
  
  .title-text {
    font-size: 24px; /* Ajusta el tamaño del texto según tus necesidades */
  }
  
  .content-row {
    margin-top: 20px;
    text-align: center; /* Espacio entre las filas de contenido */
  }
  
  .guide {
    text-align: center; /* Ajusta el texto justificado */
  }
  .logo-img-down {
    margin-top: 2rem;
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    position: relative;
    animation: moveUpDown 1s ease infinite alternate; /* Define la animación */
  }
  
  @keyframes moveUpDown {
    0% {
      top: 0; /* Posición inicial */
    }
    100% {
      top: 20px; /* Posición hacia abajo */
    }
  }