::-webkit-scrollbar {
    width: 0px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 0px; /* Bordes redondeados */
}


@font-face {
    font-family: "ELEPHNT";   /*Can be any text*/
    src: local("ELEPHNT"),
      url("./assets/fonts/ELEPHNT.TTF") format("truetype");
}

@font-face {
    font-family: "OSWALD-LIGHT";   /*Can be any text*/
    src: local("OSWALD-LIGHT"),
      url("./assets/fonts/OSWALD-LIGHT.TTF") format("truetype");
}

body{
    margin:0;
    padding: 0 3rem;
    color: #2D2D2D;
    background-color: #F2F2F2;
    font-family: 'OSWALD-LIGHT';
}

.nav{
    padding: 2rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    background-color: #F2F2F2;
    z-index: 1;
    
}

.title_nav{
    display: flex;
}

.title_nav h1{
    font-size: 30px;
    font-family: 'ELEPHNT';
    margin-bottom: auto;
    margin: 0 1rem;
}

.title_nav h2{
    font-size: 20;
    margin: 0 1rem;
}

.items_nav > ul{
    display: flex;
}

li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #2D2D2D;
}

li{
    list-style: none;
    margin-left: 1.2rem; 
    font-size: 18px;
}

ul a:hover{
    color: #8e892c;
    transition: 500ms;
    border-bottom: 2px solid #8e892c;
    cursor: pointer;
}


/************************ABOUT*********************/

#about{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#leftContent {
    width: 45%;
    height: 80vh;
    float: left;
    display: flex;
    position: sticky;
    flex-direction: column;
}

.about_subtitle{
    font-size: 13px;
    margin-bottom: 15px;
    font-family: 'ELEPHNT';
    border-bottom: #DBD22A solid 2px;
    max-width: 400px;
}

.about_subtitle h1{
    margin: 0 10px;
}

/*******************************/

#rightContent {
    width: 45%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 5%;

    font-size: 14px;
    color: #3a3a3a;
    font-size: 18px;
    text-align: justify;
}

#authors {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.author1 {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.author1 img {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    margin-right: 10px;
}

.right_auth_content {
    flex-grow: 1;
}

.auth_name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.description_auth, .description_motive {
    font-size: 14px;
    color: #3a3a3a;
    font-size: 18px;
    text-align: justify;
}

.auth_name a{
    text-decoration: none;
    cursor: pointer;
    color: #3a3a3a;
}




/*********************TABLA************/
table {
    font-size: 14px;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #DBD22A;
    background-color: #FFFFFF;
}

th, td {
    border: 1px solid #DBD22A;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #DBD22A;
    color: #FFFFFF;
    text-align: center; 
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

/****************FORMULARIO*********************/

form {
    width: 100%;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button[type="submit"] {
    background-color: #DBD22A;
    color: #fff;
    padding: 12px 20px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: black;
  }


  /*********/

  footer {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    --s: 350px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
  }

  #footer_img{
    width: 100px;
  }
  
  .contact-info {
    flex: 1;
  }
  
  .contact-info img {
    width: 10px;
    height: 120px;
    
    margin-right: 10px;
  }
  
  .contact-info p {
    font-size: 16px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: translateY(-3px);
  }
  
  .resources {
    flex: 1;
  }
  
  .resources h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .resources ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resources li {
    margin-bottom: 10px;
  }
  
  .resources a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .resources a:hover {
    color: #f4c20d;
  }