/* CSS para dispositivos con ancho mayor a 768px */
@media screen and (min-width: 768px) {
    /* Cambia la disposición a una columna */
    .column-layout {
        display: flex;
        flex-direction: column;
    }
}

/* CSS para dispositivos con ancho menor o igual a 768px */
@media screen and (max-width: 768px) {
    /* Cambia la disposición a una columna */
    .column-layout {
        display: flex;
        flex-direction: column;
    }

    /* Ajusta el ancho de los gráficos para que ocupen toda la pantalla */
    .graph {
        width: 100%;
    }
}