::-webkit-scrollbar {
    width: 0px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 0px; /* Bordes redondeados */
}

.container {
    font-family: 'Oswald Light';
    display: flex;
    flex-wrap: wrap;
}

.container-left{
    width: 45%;
    padding-right: 50px;
}

.container-right {
    width: 45%;
    padding-left: 20px;
}

.container-left p, ul{  
    text-align: justify;
    font-size: 18px;
}

ul li{
    margin-bottom: 5px;
}


@media (max-width: 1000px) {
    .container-left,
    .container-right {
        width: 100%;
    }
}


@media  (max-width: 768px) {
    /* Ajusta los estilos aquí para pantallas pequeñas */
    .pm_info {
     margin-top: 0px;
    }
  }

h2{
    font-family: 'Oswald';
    font-weight:500;
}

#grafico{
    background-color: #F2F2F2 ;
}

body{
    background-color: #F2F2F2 ;
}



#mi-iframe{
    background-color: red;
}

/*
<div class="scroll-container">
    <div class="{%plotly_class name="SimpleExample"%}" style="background-color: #f2f2f2;">
        {%plotly_app name="SimpleExample" ratio=0.6%}
    </div> 
</div> 

*/


.stats_title{
    font-family: 'Oswald';
    font-weight:500;
    border-bottom: #DBD22A 2px solid;
    
}

.table_stats{
    width: 100%;
    font-family: 'Oswald';
}

.table_stats td{
    font-family: 'Oswald Light';
    padding: 4px;
}


.pm_info {
    padding:0 15%;
    font-family: 'Oswald Light';
    text-align: justify;
    font-size: 18px;
    margin-top: 5%;
}

.td_result{
    text-align: center;
}

table td:hover {
    background-color: #DBD22A;
}

.container-right p{  
    font-family: 'Oswald Light';
    text-align: justify;
    font-size: 18px;
}

.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #b8af0a, #DBD22A);
    color: ghostwhite;
    overflow: hidden;
  }
  
  .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }
  
  .cssbuttons-io a {
    text-decoration: none;
    color: ghostwhite ;
  }

  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #595959;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }

