::-webkit-scrollbar {
    width: 0px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 0px; /* Bordes redondeados */
}

*{
    padding:0px;
    margin:0px;
}

body{
    background-color: #171717;
}

#grafico {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#grafico iframe {
    width: 100%;
    height: 100%;
    border: none; /* Elimina el borde del iframe */
}


@media (max-width: 768px) {
    .container_authors {
        flex-direction: column;
        align-items: center;
    }

    .info_author {
        margin-bottom: 20px; /* Espacio entre los autores cuando están uno debajo del otro */
    }

    #about{
        padding: 0;
    }
}